extends layout

block content
  .jumbotron
    h1 Services Basic Express Offers
    p 
      | Bacon ipsum dolor amet pork loin strip steak tongue frankfurter. Spare 
      | ribs sausage porchetta sirloin shoulder pork loin. Chuck bresaola 
      | chicken hamburger brisket venison. Beef ribs shankle strip steak ball 
      | tip pastrami chuck brisket. Filet mignon landjaeger jerky pancetta pork 
      | belly flank chuck frankfurter. Cow t-bone frankfurter kielbasa bacon 
      | venison. Cow cupim shankle, kevin brisket t-bone shoulder pork short 
      | loin pork belly ham hock spare ribs meatloaf.
    p
      a.btn.btn-primary.btn-lg(href='#', role='button') Learn more

  .row
    .col-md-4
      .panel.panel-default
          .panel-heading
            h3.panel-title Basic Express Home
          .panel-body
            | Bacon ipsum dolor amet pork loin strip steak tongue frankfurter. Spare 
            | ribs sausage porchetta sirloin shoulder pork loin. Chuck bresaola 
            | chicken hamburger brisket venison. Beef ribs shankle strip steak ball 
            | tip pastrami chuck brisket. Filet mignon landjaeger jerky pancetta pork 
            | belly flank chuck frankfurter. Cow t-bone frankfurter kielbasa bacon 
            | venison. Cow cupim shankle, kevin brisket t-bone shoulder pork short 
            | loin pork belly ham hock spare ribs meatloaf.

    .col-md-4
      .panel.panel-default
          .panel-heading
            h3.panel-title Services Offered
          .panel-body
            | Bacon ipsum dolor amet pork loin strip steak tongue frankfurter. Spare 
            | ribs sausage porchetta sirloin shoulder pork loin. Chuck bresaola 
            | chicken hamburger brisket venison. Beef ribs shankle strip steak ball 
            | tip pastrami chuck brisket. Filet mignon landjaeger jerky pancetta pork 
            | belly flank chuck frankfurter. Cow t-bone frankfurter kielbasa bacon 
            | venison. Cow cupim shankle, kevin brisket t-bone shoulder pork short 
            | loin pork belly ham hock spare ribs meatloaf.

    .col-md-4
      .panel.panel-default
          .panel-heading
            h3.panel-title About Basic Express
          .panel-body
            | Bacon ipsum dolor amet pork loin strip steak tongue frankfurter. Spare 
            | ribs sausage porchetta sirloin shoulder pork loin. Chuck bresaola 
            | chicken hamburger brisket venison. Beef ribs shankle strip steak ball 
            | tip pastrami chuck brisket. Filet mignon landjaeger jerky pancetta pork 
            | belly flank chuck frankfurter. Cow t-bone frankfurter kielbasa bacon 
            | venison. Cow cupim shankle, kevin brisket t-bone shoulder pork short 
            | loin pork belly ham hock spare ribs meatloaf.

  hr
  .footer
    p(class='text-center') Basic Express, Ltd. 2016
